/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #AA0000 }  /* string content */
  .kwd { color: #0000AA }  /* a keyword */
  .com { color: #009900 }  /* a comment */
  .typ { color: #0000AA }  /* a type name */
  .lit { color: #AA00AA }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #000000 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #000000 }  /* a declaration; a variable name */
  .fun { color: #000000 }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { 
padding: 0px; 
border: 1px solid #C0C0C0;
font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; background:#E0E0E0;} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 { list-style-type: decimal !important; border-left: 3px solid #006666; font-size:12px; background:#F0F0F0; padding-left:5px;}
